version: '3'
services:
  postgres:
    image: postgres:13
    container_name: db
    ports:
      - "15432:5432"
    env_file:
      - .env.local
    restart: always
  app:
    image: app
    container_name: app
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env.local
    restart: alway
    ports:
      - "8000:8000"
